.form-group {
    margin-bottom: .7rem;
    label {
        font-size: .755rem;
        text-transform: uppercase;
        color: rgb(35, 28, 99, .7);
        font-weight: 500;
    }
    small {
        font-size: .7rem;
    }

    &.with-title {
        position: relative;
        label {
            position: absolute;
            top: 0;
            left: 0;
            padding: 5px;
            font-size: .6rem;
            background-color: $gray-200;
            width: 100%;
            border-top-left-radius: $input-border-radius;
            border-top-right-radius: $input-border-radius;
            transition: $input-transition;
        }
        .form-control {
            padding-top: 2rem;
            &:focus ~ label {
                border-left: 1px solid map-get($theme-colors, 'primary');
                border-top: 1px solid map-get($theme-colors, 'primary');
                border-right: 1px solid map-get($theme-colors, 'primary');
            }
        }
    }

    &[class*="has-icon-"] {
        &.has-icon-left {
            .form-control {
                padding-left: 2.5rem;
            }
            .form-control-icon {
                left: 0;
            }
        }
        &.has-icon-right {
            .form-control {
                padding-right: 2.5rem;
            }
            .form-control-icon {
                right: 0;
            }
        }
        .form-control {            
            &:focus ~ .form-control-icon {
                i, svg {
                    color: #5A8DEE
                }
            }
        }
        .form-control-icon {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            padding: 0 .6rem;
            i, svg {
                width: 1.2rem
            }
        }

    }
}

.form-check {
    .form-check-input {
        &[class*="bg-"] {
            border: 0;
        }
        &:focus {
            box-shadow: none;
        }
    }
}