#auth {
    background:linear-gradient(to bottom, #25a6f1, #54b9ff);
    min-height: 100vh;
    padding-top: 100px;

    .card {
        box-shadow: 0 5px 15px rgba(#246892, .6);
        border:none;
    }
}