{% set title = 'Avatar' %}
{% set filename = 'component-extra-avatar.html' %}

{% extends 'layouts/master.html' %}
{% block content %}
<div class="main-content container-fluid">
    <div class="page-title">
        <div class="row">
            <div class="col-12 col-md-6 order-md-1 order-last">
                <h3>Avatar</h3>
                <p class="text-subtitle text-muted">A component to display user avatar with image or initial name</p>
            </div>
            <div class="col-12 col-md-6 order-md-2 order-first">
                <nav aria-label="breadcrumb" class='breadcrumb-header'>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Avatar</li>
                    </ol>
                </nav>
            </div>
        </div>

    </div>
    <section class="section">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">Default Avatar</h4>
            </div>
            <div class="card-body">
                <p>Wrap your content with <code>.avatar</code> class and wrap your text in <code>.avatar</code>-content to create a avatar.You have to use inline
                attributes to set height width of image in default avatar.</p>
                <div class="avatar bg-primary mr-3">
                    <span class="avatar-content"><i data-feather="mail"></i></span>
                </div>
                <div class="avatar bg-warning mr-3">
                    <span class="avatar-content">AS</span>
                </div>
                <div class="avatar bg-warning mr-3">
                    <img src="assets/images/avatar/avatar-s-1.png" alt="" srcset="">
                </div>
            </div>
        </div>
    </section>
    <section class="section">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">Avatar Sizes</h4>
            </div>
            <div class="card-body">
                <p>use class <code>.avatar-{sm|lg|xl}</code> with <code>.avatar</code> to modify size of your avatar.</p>
                <div class="avatar avatar-sm bg-primary mr-3">
                    <span class="avatar-content"><i data-feather="mail"></i></span>
                </div>
                <div class="avatar bg-warning mr-3">
                    <span class="avatar-content">AS</span>
                </div>
                <div class="avatar mr-3">
                    <img src="assets/images/avatar/avatar-s-1.png" alt="" srcset="">
                </div>
                <div class="avatar avatar-lg mr-3">
                    <img src="assets/images/avatar/avatar-s-1.png" alt="" srcset="">
                </div>
                <div class="avatar avatar-xl mr-3">
                    <img src="assets/images/avatar/avatar-s-1.png" alt="" srcset="">
                </div>
            </div>
        </div>
    </section>
    <section class="section">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">Avatar Status</h4>
            </div>
            <div class="card-body">
                <p>use class <code>.avatar-status</code> and <code>.bg-{color}</code> after <code>.avatar-content</code></p>
               
                <div class="avatar bg-warning mr-3">
                    <span class="avatar-content">AS</span>
                    <span class="avatar-status bg-success"></span>
                </div>
                <div class="avatar bg-warning mr-3">
                    <img src="assets/images/avatar/avatar-s-1.png" alt="" srcset="">
                    <span class="avatar-status bg-danger"></span>
                </div>
            </div>
        </div>
    </section>
</div>
{% endblock %}