{% set title = 'Checkbox' %}
{% set filename = 'form-element-checkbox.html' %}

{% extends 'layouts/master.html' %}
{% block content %}
<div class="main-content container-fluid">
    <div class="page-title">
        <div class="row">
            <div class="col-12 col-md-6 order-md-1 order-last">
                <h3>Checkbox</h3>
                <p class="text-subtitle text-muted">A pretty helpful component for give message to user</p>
            </div>
            <div class="col-12 col-md-6 order-md-2 order-first">
                <nav aria-label="breadcrumb" class='breadcrumb-header'>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Checkbox</li>
                    </ol>
                </nav>
            </div>
        </div>

    </div>
    <section id="basic-checkbox">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Basic Checkboxes</h4>
                    </div>
                    <div class="card-content">
                        <div class="card-body">
                            <ul class="list-unstyled mb-0">
                                <li class="d-inline-block mr-2 mb-1">
                                    <div class='form-check'>
                                        <div class="checkbox">
                                            <input type="checkbox" id="checkbox1" class='form-check-input' checked>
                                            <label for="checkbox1">Touch me!</label>
                                        </div>
                                    </div>
                                </li>
                                <li class="d-inline-block mr-2 mb-1">
                                    <div class='form-check'>
                                        <div class="checkbox">
                                            <input type="checkbox" class='form-check-input' id="checkbox2">
                                            <label for="checkbox2">Touch me!</label>
                                        </div>
                                    </div>
                                </li>
                                <li class="d-inline-block mr-2 mb-1">
                                    <div class='form-check'>
                                        <div class="checkbox">
                                            <input type="checkbox" id="checkbox3" class='form-check-input' disabled checked>
                                            <label for="checkbox3">Disabled Checked Checkbox</label>
                                        </div>
                                    </div>
                                </li>
                                <li class="d-inline-block mb-1">
                                    <div class='form-check'>
                                        <div class="checkbox">
                                            <input type="checkbox" id="checkbox4" class='form-check-input' disabled>
                                            <label for="checkbox4">Disabled Unchecked Checkbox</label>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Basic Checkbox end -->
    
    <!-- Custom Checkbox Colored start -->
    <section id="custom-checkbox-colored">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Custom Colored Checkboxes</h4>
                    </div>
                    <div class="card-content">
                        <div class="card-body">
                            <p>To change the color of the Custom CheckBoxes, use the <code>.bg-{colorName}</code> with
                                <code>.form-check-input</code> class.</p>
                            <ul class="list-unstyled mb-0">
                                <li class="d-inline-block mr-2 mb-1">
                                    <div class='form-check'>
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="form-check-input bg-primary" checked
                                                name="customCheck" id="customColorCheck1">
                                            <label class="custom-control-label" for="customColorCheck1">Primary</label>
                                        </div>
                                    </div>
                                </li>
                                <li class="d-inline-block mr-2 mb-1">
                                    <div class='form-check'>
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="form-check-input bg-secondary" checked
                                                name="customCheck" id="customColorCheck2">
                                            <label class="custom-control-label" for="customColorCheck2">Secondary</label>
                                        </div>
                                    </div>
                                </li>
                                <li class="d-inline-block mr-2 mb-1">
                                    <div class='form-check'>
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="form-check-input bg-success" checked
                                                name="customCheck" id="customColorCheck3">
                                            <label class="custom-control-label" for="customColorCheck3">Success</label>
                                        </div>
                                    </div>
                                </li>
                                <li class="d-inline-block mr-2 mb-1">
                                    <div class='form-check'>
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="form-check-input bg-danger" checked
                                                name="customCheck" id="customColorCheck4">
                                            <label class="custom-control-label" for="customColorCheck4">Danger</label>
                                        </div>
                                    </div>
                                </li>
                                <li class="d-inline-block mr-2 mb-1">
                                    <div class='form-check'>
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="form-check-input bg-info" checked
                                                name="customCheck" id="customColorCheck5">
                                            <label class="custom-control-label" for="customColorCheck5">Info</label>
                                        </div>
                                    </div>
                                </li>
                                <li class="d-inline-block mb-1">
                                    <div class='form-check'>
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="form-check-input bg-warning" checked
                                                name="customCheck" id="customColorCheck6">
                                            <label class="custom-control-label" for="customColorCheck6">Warning</label>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Custom Checkbox end -->
    
    
    <!-- Checkbox Glow start -->
    <section id="checkbox-glow">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Checkboxes Glow</h4>
                    </div>
                    <div class="card-content">
                        <div class="card-body">
                            <p>Use class <code>.checkbox-glow</code> class with <code>.checkbox.checkbox-{colorName}</code>
                                for glow effect to Checkboxes. Glow shadow color will be changed according to Colored
                                Checkboxes.</p>
                            <ul class="list-unstyled mb-0">
                                <li class="d-inline-block mr-2 mb-1">
                                    <div class='form-check'>
                                        <div class="checkbox checkbox-primary checkbox-glow">
                                            <input type="checkbox" id="checkboxGlow1" checked>
                                            <label for="checkboxGlow1">Primary</label>
                                        </div>
                                    </div>
                                </li>
                                <li class="d-inline-block mr-2 mb-1">
                                    <div class='form-check'>
                                        <div class="checkbox checkbox-secondary checkbox-glow">
                                            <input type="checkbox" id="checkboxGlow2" checked>
                                            <label for="checkboxGlow2">Secondary</label>
                                        </div>
                                    </div>
                                </li>
                                <li class="d-inline-block mr-2 mb-1">
                                    <div class='form-check'>
                                        <div class="checkbox checkbox-success checkbox-glow">
                                            <input type="checkbox" id="checkboxGlow3" checked>
                                            <label for="checkboxGlow3">Success</label>
                                        </div>
                                    </div>
                                </li>
                                <li class="d-inline-block mr-2 mb-1">
                                    <div class='form-check'>
                                        <div class="checkbox checkbox-danger checkbox-glow">
                                            <input type="checkbox" id="checkboxGlow4" checked>
                                            <label for="checkboxGlow4">Danger</label>
                                        </div>
                                    </div>
                                </li>
                                <li class="d-inline-block mr-2 mb-1">
                                    <div class='form-check'>
                                        <div class="checkbox checkbox-info checkbox-glow">
                                            <input type="checkbox" id="checkboxGlow5" checked>
                                            <label for="checkboxGlow5">Info</label>
                                        </div>
                                    </div>
                                </li>
                                <li class="d-inline-block mr-2 mb-1">
                                    <div class='form-check'>
                                        <div class="checkbox checkbox-warning checkbox-glow">
                                            <input type="checkbox" id="checkboxGlow6" checked>
                                            <label for="checkboxGlow6">Warning</label>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Checkbox Glow end -->
    
    <!-- Checkbox with Icon start -->
    <section id="checkbox-icon">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Checkboxes with Icons</h4>
                    </div>
                    <div class="card-content">
                        <div class="card-body">
                            <p>Use <code>.checkbox-icon</code> with <code>.checkbox</code> class to change the internal icon
                                inside the checkbox.</p>
                            <ul class="list-unstyled mb-0">
                                <li class="d-inline-block mr-2 mb-1">
                                    <div class='form-check'>
                                        <div class="checkbox checkbox-primary checkbox-icon">
                                            <input type="checkbox" id="checkboxIcon1" checked>
                                            <label for="checkboxIcon1"><i class="bx bx-music"></i>Primary</label>
                                        </div>
                                    </div>
                                </li>
                                <li class="d-inline-block mr-2 mb-1">
                                    <div class='form-check'>
                                        <div class="checkbox checkbox-secondary checkbox-icon">
                                            <input type="checkbox" id="checkboxIcon2" checked>
                                            <label for="checkboxIcon2"><i class="bx bx-message"></i>Secondary</label>
                                        </div>
                                    </div>
                                </li>
                                <li class="d-inline-block mr-2 mb-1">
                                    <div class='form-check'>
                                        <div class="checkbox checkbox-success checkbox-icon">
                                            <input type="checkbox" id="checkboxIcon3">
                                            <label for="checkboxIcon3"><i class="bx bx-x"></i>Success</label>
                                        </div>
                                    </div>
                                </li>
                                <li class="d-inline-block mr-2 mb-1">
                                    <div class='form-check'>
                                        <div class="checkbox checkbox-danger checkbox-icon">
                                            <input type="checkbox" id="checkboxIcon4">
                                            <label for="checkboxIcon4"><i class="bx bx-paperclip"></i>Danger</label>
                                        </div>
                                    </div>
                                </li>
                                <li class="d-inline-block mr-2 mb-1">
                                    <div class='form-check'>
                                        <div class="checkbox checkbox-info checkbox-icon">
                                            <input type="checkbox" id="checkboxIcon5">
                                            <label for="checkboxIcon5"><i class="bx bx-bold"></i>Info</label>
                                        </div>
                                    </div>
                                </li>
                                <li class="d-inline-block mb-1">
                                    <div class='form-check'>
                                        <div class="checkbox checkbox-warning checkbox-icon">
                                            <input type="checkbox" id="checkboxIcon6">
                                            <label for="checkboxIcon6"><i class="bx bx-bell"></i>Warning</label>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Colored Checkbox end -->
    
    <!-- Checkbox Sizes start -->
    <section id="checkbox-sizes">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Checkboxes Sizes</h4>
                    </div>
                    <div class="card-content">
                        <div class="card-body">
                            <p>To add a checkBox with different sizes, we have the <code>.checkbox-sm</code> class for small
                                Checkboxes. Add it alongwith <code>.checkbox</code> class.</p>
                            <ul class="list-unstyled mb-0">
                                <li class="d-inline-block mr-2 mb-1">
                                    <div class='form-check'>
                                        <div class="checkbox checkbox-sm">
                                            <input type="checkbox" id="checkboxsmall" checked>
                                            <label for="checkboxsmall">Small Checkbox</label>
                                        </div>
                                    </div>
                                </li>
                                <li class="d-inline-block mb-1">
                                    <div class='form-check'>
                                        <div class="checkbox">
                                            <input type="checkbox" id="checkboxdefault" checked>
                                            <label for="checkboxdefault">Default Checkbox</label>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Checkbox Sizes end -->
</div>
{% endblock %}