{% set title = 'Radio' %}
{% set filename = 'form-element-radio.html' %}

{% extends 'layouts/master.html' %}
{% block content %}
<div class="main-content container-fluid">
    <div class="page-title">
        <div class="row">
            <div class="col-12 col-md-6 order-md-1 order-last">
                <h3>Radio</h3>
                <p class="text-subtitle text-muted">Choose one from the list with checkbox</p>
            </div>
            <div class="col-12 col-md-6 order-md-2 order-first">
                <nav aria-label="breadcrumb" class='breadcrumb-header'>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Radio</li>
                    </ol>
                </nav>
            </div>
        </div>

    </div>
    <section class="section">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Default Radio</h4>
                    </div>
                    <div class="card-body">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                            <label class="form-check-label" for="flexRadioDefault1">
                                Default radio
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
                            <label class="form-check-label" for="flexRadioDefault2">
                                Default checked radio
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDisabled" id="flexRadioDisabled" disabled>
                            <label class="form-check-label" for="flexRadioDisabled">
                                Disabled radio
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDisabled" id="flexRadioCheckedDisabled" checked
                                disabled>
                            <label class="form-check-label" for="flexRadioCheckedDisabled">
                                Disabled checked radio
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Colors</h4>
                    </div>
                    <div class="card-body">
                        <p>Use class <code>.form-check-{color}</code> with <code>.form-check</code> to change radio color</p>
                        <div class="form-check form-check-primary">
                            <input class="form-check-input" type="radio" name="Primary" id="Primary" checked>
                            <label class="form-check-label" for="Primary">
                                Primary
                            </label>
                        </div>
                        <div class="form-check form-check-secondary">
                            <input class="form-check-input" type="radio" name="Secondary" id="Secondary" checked>
                            <label class="form-check-label" for="Secondary">
                                Secondary
                            </label>
                        </div>
                        <div class="form-check form-check-warning">
                            <input class="form-check-input" type="radio" name="Warning" id="Warning" checked>
                            <label class="form-check-label" for="Warning">
                                Warning
                            </label>
                        </div>
                        <div class="form-check form-check-danger">
                            <input class="form-check-input" type="radio" name="Danger" id="Danger" checked>
                            <label class="form-check-label" for="Danger">
                                Danger
                            </label>
                        </div>
                        <div class="form-check form-check-success">
                            <input class="form-check-input" type="radio" name="Success" id="Success" checked>
                            <label class="form-check-label" for="Success">
                                Success
                            </label>
                        </div>
                        <div class="form-check form-check-dark">
                            <input class="form-check-input" type="radio" name="Dark" id="Dark" checked>
                            <label class="form-check-label" for="Dark">
                                Dark
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
{% endblock %}