{% extends 'layouts/master.html' %}
{% set title = 'Dashboard' %}
{% block content %}
<div class="main-content container-fluid">
    <div class="page-title">
        <h3>Dashboard</h3>
        <p class="text-subtitle text-muted">A good dashboard to display your statistics</p>
    </div>
    <section class="section">
        <div class="row mb-4">
            <div class="col-12 col-md-3">
                <div class="card card-statistic">
                    <div class="card-body p-0">
                        <div class="d-flex flex-column">
                            <div class='px-3 py-3 d-flex justify-content-between'>
                                <h3 class='card-title'>BALANCE</h3>
                                <div class="card-right d-flex align-items-center">
                                    <p>$50 </p>
                                    <span class='green'><i data-feather="arrow-up"></i></span>
                                </div>
                            </div>
                            <div class="chart-wrapper">
                                <canvas id="canvas1" style="height:100px !important"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-3">
                <div class="card card-statistic">
                    <div class="card-body p-0">
                        <div class="d-flex flex-column">
                            <div class='px-3 py-3 d-flex justify-content-between'>
                                <h3 class='card-title'>Revenue</h3>
                                <div class="card-right d-flex align-items-center">
                                    <p>$532,2 </p>
                                    <span class='red'><i data-feather="arrow-down"></i></span>
                                </div>
                            </div>
                            <div class="chart-wrapper">
                                <canvas id="canvas2" style="height:100px !important"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-3">
                <div class="card card-statistic">
                    <div class="card-body p-0">
                        <div class="d-flex flex-column">
                            <div class='px-3 py-3 d-flex justify-content-between'>
                                <h3 class='card-title'>ORDERS</h3>
                                <div class="card-right d-flex align-items-center">
                                    <p>723 </p>
                                    <span class='green'><i data-feather="arrow-up"></i></span>
                                </div>
                            </div>
                            <div class="chart-wrapper">
                                <canvas id="canvas3" style="height:100px !important"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-3">
                <div class="card card-statistic">
                    <div class="card-body p-0">
                        <div class="d-flex flex-column">
                            <div class='px-3 py-3 d-flex justify-content-between'>
                                <h3 class='card-title'>Sales Today</h3>
                                <div class="card-right d-flex align-items-center">
                                    <p>23 </p>
                                    <span class='green'><i data-feather="arrow-up"></i></span>
                                </div>
                            </div>
                            <div class="chart-wrapper">
                                <canvas id="canvas4" style="height:100px !important"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mb-4">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header">
                        <h3 class='card-heading p-1 pl-3'>Sales</h3>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-4 col-12">
                                <div class="pl-3">
                                    <h1 class='mt-5'>$21,102</h1>
                                    <p class='text-xs'><span class="text-green"><i data-feather="bar-chart" width="15"></i> +19%</span> than last month</p>
                                    <div class="legends">
                                        <div class="legend d-flex flex-row align-items-center">
                                            <div class='w-3 h-3 rounded-full bg-info mr-2'></div><span class='text-xs'>Last Month</span>
                                        </div>
                                        <div class="legend d-flex flex-row align-items-center">
                                            <div class='w-3 h-3 rounded-full bg-blue mr-2'></div><span class='text-xs'>Current Month</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-8 col-12">
                                <canvas id="bar"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-header">
                        Latest Orders
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table ">
                                <tbody>
                                    <tr>
                                        <td>
                                            <img src="assets/images/avatar/avatar-s-1.png" class='rounded-full w-10 h-10 mt-2'>
                                        </td>
                                        <td class='d-flex flex-column'>
                                            <p class="text-sm mb-0 font-semibold">Ahmad Saugi</p>
                                            <p class="text-xs mb-1 text-gray-700">Xonto White Water</p>
                                            <p class="text-xxs mb-2 text-gray">Tolong yang bener packagingnya ya </p>
                                        </td>
                                        <td>
                                            <p class='mb-0 text-success'>$25</p>
                                            <p class='mb-0 text-xs'>1 qty</p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <img src="assets/images/avatar/avatar-s-2.png" class='rounded-full w-10 h-10 mt-2'>
                                        </td>
                                        <td class='d-flex flex-column'>
                                            <p class="text-sm mb-0 font-semibold">Gakky Tau</p>
                                            <p class="text-xs mb-1 text-gray-700">Xonto White Water</p>
                                            <p class="text-xxs mb-2 text-gray">Lorem ipsum dolor sit amet consectetur</p>
                                        </td>
                                        <td>
                                            <p class='mb-0 text-success'>$25</p>
                                            <p class='mb-0 text-xs'>1 qty</p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <img src="assets/images/avatar/avatar-s-3.png" class='rounded-full w-10 h-10 mt-2'>
                                        </td>
                                        <td class='d-flex flex-column'>
                                            <p class="text-sm mb-0 font-semibold">Tua Lo</p>
                                            <p class="text-xs mb-1 text-gray-700">Xonto White Water</p>
                                            <p class="text-xxs mb-2 text-gray">Lorem ipsum dolor sit amet consectetur</p>
                                        </td>
                                        <td>
                                            <p class='mb-0 text-success'>$25</p>
                                            <p class='mb-0 text-xs'>1 qty</p>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
{% endblock %}
{% block styles %}
    <link rel="stylesheet" href="assets/vendors/chartjs/Chart.min.css">
{% endblock %}
{% block js %}
    <script src="assets/vendors/chartjs/Chart.min.js"></script>
    <script src="assets/js/pages/dashboard.js"></script>
{% endblock %}